@mixin mobile-view {
  @media (max-width: 950px) { @content }
}

@mixin mobile-view-smaller {
  @media (max-width: 500px) { @content }
}

.individual-modal-container {
  display: flex;
  flex-flow: row wrap;

  .individual-modal-container__heading-section {
    display: flex;
    width: 100%;
    justify-content: center;

    .heading-section__country-flag {
      height: 100px;
      width: 150px;
      border-radius: 10%
    }
  }

  .individual-modal-container__stats-section {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 25px;

    @include mobile-view-smaller() {
      flex-flow: column;
    }

    .stats-section__cases {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      .cases__heading {
        width: 100%;
        margin: 0;
        text-align: center;
        font-size: 1.8rem;
        font-weight: bold;
      }

      .cases__data {
        width: 100%;
        text-align: center;
        margin: 0;
        font-size: 1.2rem;
      }

      @include mobile-view() {
        .cases__heading {
          font-size: 1.4rem;
        }

        .cases__data {
          font-size: 1rem;
        }
      }

      @include mobile-view-smaller() {
        margin-bottom: 5px;

        .cases__heading {
          font-size: 1.2rem;
        }

        .cases__data {
          font-size: 0.8rem;
        }
      }
    }
  }
}


::ng-deep .cdk-overlay-pane {
  width: 550px !important;
  height: 260px !important;

  @include mobile-view() {
    width: 400px !important;
  }

  @include mobile-view-smaller() {
    height: 380px !important;
  }
}
