<div class="home-container">
  <div id="map">

  </div>

  <div class="side-panel-stats">
    <div class="world-stats">
      <p class="world-stats__total-cases">{{ this.coronaStats?.cases | number: '2.' }}</p>
      <div class="world-stats__current-cases">
        <p>{{ this.coronaStats?.deaths | number: '2.' }}</p>
        <p>Deaths</p>
      </div>
      <div class="world-stats__current-cases">
        <p>{{ this.coronaStats?.recovered | number: '2.' }}</p>
        <p>Recoveries</p>
      </div>
      <div class="world-stats__current-cases">
        <p>{{ this.coronaStats?.active | number: '2.' }}</p>
        <p>Active cases</p>
      </div>
    </div>
    <div class="individual-country">
      <div class="individual-country__search-bar">
        <input placeholder="Search" [(ngModel)]="searchText" />
      </div>
      <div class="individual-country__stats" *ngFor="let singleCountry of coronaCountryStats | searchFilter: searchText" (click)="openIndividualCountryDialog(singleCountry)">
        <img src='{{ singleCountry.countryInfo.flag }}'>
        <p>{{ singleCountry.country }}</p>
        <p>{{ singleCountry.cases }}</p>
      </div>
    </div>
  </div>

  <div class="mobile-search-bar">
    <input placeholder="Search country..." (click)="showStatsMobile = true" [(ngModel)]="searchText"  />
    <div class="close-icon" (click)="showStatsMobile = false" >
      <img src="../../../assets/close_icon.svg" />
    </div>
    <div class="mobile-search-bar__stats" *ngIf="showStatsMobile">
      <div class="individual-country" *ngFor="let singleCountry of coronaCountryStats | searchFilter: searchText">
        <img class="country-flag" src='{{ singleCountry.countryInfo.flag }}'>
        <p>{{ singleCountry.country }}</p>
        <p>{{ singleCountry.cases }}</p>
      </div>
    </div>
  </div>
</div>
