<div class="home-container">
  <div class="home-container__stats">
    <div>
      <h1>Cases</h1>
      <p>{{ coronaStats?.cases }}</p>
    </div>
    <div>
      <h1>Deaths</h1>
      <p>{{ coronaStats?.deaths }}</p>
    </div>
    <div>
      <h1>Active</h1>
      <p>{{ coronaStats?.active }}</p>
    </div>
    <div>
    <h1>Recovered</h1>
    <p>{{ coronaStats?.recovered }}</p>
    </div>
  </div>
  <div class="home-container__timeline">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput placeholder="search">
    </mat-form-field>

    <table mat-table matSort>
      <ng-container matColumnDef="Country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
        <td mat-cell *matCellDef="let row">Test</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
    </table>
  </div>
</div>
